Repository underratedgitter/Bindu: changes, and which pre-commit hooks are due for each by the changed paths.
All: readme-consistency, ty

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1024']  # 1MB limit to prevent large files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
      - id: ruff
        args: ["--fix"]
        exclude: ^examples/
      - id: ruff-format
        exclude: ^examples/

  - repo: local
    hooks:
      - id: readme-consistency
        name: readme consistency checker
        entry: python scripts/check_readme_consistency.py
        language: system
        pass_filenames: false
        files: ^(README.*\.md|bindu/utils/readme_consistency\.py|scripts/check_readme_consistency\.py)$

      - id: ty
        name: ty type checker
        entry: uv run ty check bindu/ tests/
        language: system
        types: [python]
        pass_filenames: false
        exclude: ^examples/

      - id: pytest
        name: pytest with coverage
        entry: bash -c 'uv run pytest -n auto --cov=bindu --cov-report= && coverage report --skip-covered --fail-under=64'
        language: system
        pass_filenames: false
        always_run: true
        verbose: true

  - repo: https://github.com/PyCQA/bandit
    rev: '1.8.3'
    hooks:
      - id: bandit
        args: ["-c", "bandit.yaml", "-lll"]
        exclude: ^(tests/|examples/)
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: Check for secrets using baseline
        args: ['--baseline', '.secrets.baseline']
        exclude: 'package.lock.json'

  - repo: local
    hooks:
      - id: init-secrets-baseline
        name: Initialize secrets baseline (manual)
        entry: bash -c 'detect-secrets scan > .secrets.baseline && detect-secrets audit .secrets.baseline'
        language: system
        pass_filenames: false
        stages: [manual]

      - id: verify-secrets-audited
        name: Verify audited secrets before push
        entry: >
          bash -c 'python3 -c "import json, sys;
          data=json.load(open(\".secrets.baseline\"));
          unaudited=[k for k,v in data[\"results\"].items()
          if any(i.get(\"is_secret\") is None for i in v.values())];
          sys.exit(1 if unaudited else 0)" ||
          (echo "ERROR: unaudited secrets. Run: pre-commit run init-secrets-baseline --hook-stage manual" && exit 1)'
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: update-secrets-baseline
        name: Update secrets baseline (manual)
        entry: bash -c 'detect-secrets scan --update .secrets.baseline && detect-secrets audit .secrets.baseline'
        language: system
        pass_filenames: false
        stages: [manual]

  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        exclude: ^examples/

fix: replace broad exception catches with specific types
  bindu/auth/hydra/client.py
  bindu/extensions/did/did_agent_extension.py
  bindu/observability/sentry.py
  bindu/server/storage/helpers/security.py
  tests/unit/test_sentry.py
Due: ty

feat: add rate limiting middleware and tests
  bindu/server/applications.py
  bindu/server/endpoints/a2a_protocol.py
  bindu/server/endpoints/agent_card.py
  bindu/server/endpoints/did_endpoints.py
  bindu/server/endpoints/health.py
  bindu/server/endpoints/metrics.py
  bindu/server/endpoints/negotiation.py
  bindu/server/endpoints/payment_sessions.py
  bindu/server/endpoints/skills.py
  bindu/server/middleware/rate_limit.py
  bindu/settings.py
  bindu/utils/request_utils.py
  pyproject.toml
  tests/conftest.py
  tests/unit/test_rate_limiting.py
Due: ty

remove old todo
  frontend/src/routes/conversation/[id]/+server.ts
Due: none

feat(x402): add multi-network payment support
  bindu/extensions/x402/__init__.py
  bindu/extensions/x402/lightning.py
  bindu/extensions/x402/networks.py
  bindu/extensions/x402/x402_agent_extension.py
  bindu/server/middleware/x402/__init__.py
  bindu/server/middleware/x402/network_router.py
  bindu/settings.py
  tests/unit/test_x402_lightning.py
  tests/unit/test_x402_networks.py
Due: ty

handle animated formats
  frontend/src/lib/server/endpoints/images.ts
Due: none

feat(ui): include text property in FilePart when sending files
  frontend/src/lib/server/endpoints/bindu/types.ts
  frontend/src/lib/utils/agentMessageHandler.ts
  frontend/src/routes/conversation/[id]/+page.svelte
Due: none

test(document-analyzer): include text on generated file parts
  tests/unit/test_document_analyzer.py
Due: ty

style: apply consistent formatting and add comprehensive docstrings
  bindu/server/scheduler/__init__.py
  bindu/server/scheduler/base.py
  bindu/server/scheduler/factory.py
  bindu/server/scheduler/memory_scheduler.py
  bindu/server/scheduler/redis_scheduler.py
  bindu/utils/worker_utils.py
  examples/document-analyzer/.env.example
  examples/document-analyzer/skills/document-processing/skill.yaml
  frontend/src/lib/server/endpoints/images.ts
  tests/unit/test_a2a_endpoint.py
  tests/unit/test_document_analyzer.py
  tests/unit/test_message_handlers.py
  tests/unit/test_protocol_types.py
  tests/unit/test_redis_scheduler.py
Due: ty

test(examples): add unit tests and register web-scraping example
  examples/README.md
  tests/unit/test_web_scraping_agent.py
Due: ty

feat: add AG2 (formerly AutoGen) examples and framework support
  .github/contributing.md
  README.bn.md
  README.de.md
  README.es.md
  README.fr.md
  README.hi.md
  README.md
  README.nl.md
  README.ta.md
  README.zh.md
  bindu/penguin/__init__.py
  examples/ag2_research_team/README.md
  examples/ag2_research_team/main.py
  examples/beginner/ag2_simple_example.py
  maintainers.md
  pyproject.toml
Due: readme-consistency, ty

docs: update team location references from Amsterdam to Amsterdam && India across all localized READMEs and footer
  README.bn.md
  README.de.md
  README.es.md
  README.fr.md
  README.hi.md
  README.md
  README.nl.md
  README.ta.md
  README.zh.md
  frontend/src/lib/components/Footer.svelte
Due: readme-consistency

refactor: extract magic numbers and strings to constants in middleware modules
  bindu/server/handlers/message_handlers.py
  bindu/server/middleware/auth/hydra.py
  bindu/server/middleware/metrics.py
  bindu/server/middleware/x402/x402_middleware.py
Due: ty

refactor: extract magic numbers and strings to constants in scheduler modules
  bindu/server/scheduler/factory.py
  bindu/server/scheduler/memory_scheduler.py
  bindu/server/scheduler/redis_scheduler.py
  bindu/utils/tracing.py
Due: ty

refactor: standardize whitespace and formatting across endpoint and core modules
  bindu/penguin/bindufy.py
  bindu/penguin/config_validator.py
  bindu/server/endpoints/a2a_protocol.py
  bindu/server/endpoints/agent_card.py
  bindu/server/endpoints/did_endpoints.py
  bindu/server/endpoints/health.py
  bindu/server/endpoints/metrics.py
  bindu/server/endpoints/negotiation.py
  bindu/server/endpoints/payment_sessions.py
  bindu/server/endpoints/skills.py
  bindu/server/endpoints/utils.py
  bindu/server/handlers/message_handlers.py
  bindu/server/middleware/x402/x402_middleware.py
  bindu/server/notifications/push_manager.py
  bindu/server/scheduler/memory_scheduler.py
  bindu/server/scheduler/redis_scheduler.py
  bindu/server/storage/memory_storage.py
  bindu/server/storage/postgres_storage.py
  bindu/server/workers/base.py
  bindu/server/workers/helpers/__init__.py
  bindu/server/workers/helpers/payment_handler.py
  bindu/server/workers/manifest_worker.py
  bindu/utils/config/base.py
  bindu/utils/config/env_loader.py
  bindu/utils/config/settings.py
  bindu/utils/exceptions.py
  bindu/utils/http/__init__.py
  bindu/utils/http/client.py
  bindu/utils/retry.py
  bindu/utils/tracing.py
Due: ty

refactor: expand test coverage from 58.59% to 60.11% with 44 new tests and code quality improvements
  release-notes/2026.12.5.txt
Due: none

docs: sychronize README translations with latest English version
  README.bn.md
  README.de.md
  README.es.md
  README.fr.md
  README.hi.md
  README.nl.md
  README.ta.md
  README.zh.md
Due: readme-consistency

docs: rewrite gRPC documentation with problem/solution framing and practical focus
  docs/grpc/README.md
  docs/grpc/SUMMARY.md
  docs/grpc/client.md
  docs/grpc/limitations.md
  docs/grpc/overview.md
  docs/grpc/sdk-development.md
  docs/grpc/sdk-typescript.md
  examples/README.md
  examples/typescript-langchain-agent/README.md
  examples/typescript-langchain-agent/skills/research/SKILL.md
  examples/typescript-langchain-agent/skills/research/skill.yaml
  tests/integration/grpc/test_grpc_e2e.py
Due: ty
